{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'main/styles/style.css' %}">

</head>
<body>

    <aside>
        <img src="{% static 'main/imgs/logo.jpg' %}" alt="">
        <span class="logo">Saydullayev</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li> <i class="fa-solid fa-user"></i>Главная</li></a>
            <a href="{% url 'about' %}"><li>Про нас</li></a>
            <a href="#"><li>Контакты</li></a>
        </ul>
    </aside>
    <main>
        
    {% block content %}
    {% endblock %}
    </main>

</body>
</html>